.kir {
    width: 200px;
    height: 250px;
    position: fixed;
    left: 175px ;
    top: 410px;
    transition-property: top;
    transition-duration: 4s;

    
}


.kir:hover {
    position: relative;
    top: 180px;
}

.position1 {
    width: 400px ;
    height: 400px;
    position: fixed;
    left: 10px;
    top: 10px;
}
